apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: monitoring-loki
    namespace: monitoring
spec:
    interval: 1m0s
    path: ./monitoring/controllers/loki-stack
    prune: false
    sourceRef:
        kind: GitRepository
        name: monitoring
    patches:
        - patch: |
              - op: add
                path: /spec/values/gateway
                value:
                  nginxConfig:
                    resolver: coredns.kube-system.svc.cluster.local.
          target:
              kind: HelmRelease
              name: loki
